/* Ensures dropdown menu is hidden and animated properly */
#usersFilter + ul {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  pointer-events: none;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.26s ease;
}

/* When the checkbox is checked, show the dropdown */
#usersFilter:checked + ul {
  pointer-events: auto;
  transform: scaleY(1);
}

