@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --white: #ffffff;

  --green-50: #f0f7ea;
  --green-100: #e8f3df;
  --green-200: #b9d99c;
  --green-300: #98c86f;
  --green-400: #85bd53;
  --green-500: #66ad28;
  --green-600: #5d9d24;
  --green-700: #487b1c;
  --green-800: #385f16;
  --green-900: #2b4911;

  --light-green-50: #fbfdfa;
  --light-green-100: #f3f9ee;
  --light-green-200: #eef6e6;
  --light-green-300: #e6f2db;
  --light-green-400: #e1efd4;
  --light-green-500: #d9ebc9;
  --light-green-600: #c5d6b7;
  --light-green-700: #9aa78f;
  --light-green-800: #77816f;
  --light-green-900: #5b6354;

  --table-borders: #c8c8c8;

  --dark: #101010;

  --chart-axis-data: #9C907F;
}

nav a.active {
  background-color: var(--green-500);
  color: var(--white);
}

.capacity-text {
  @apply text-green-900 text-5xl font-bold font-inter;
}

@layer base {
  @font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
    font-weight: 300 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
  }

  html {
    font-family: Quicksand, system-ui, sans-serif;
    font-weight: 600;
  }
}
