table {
  border-collapse: separate !important;
  border: 0;
  border-spacing: 0;
}

td,
th {
  border-bottom: 1px solid var(--table-borders);
}
table thead tr th {
  border-top: 1px solid var(--table-borders);
}

table thead tr th:first-child {
  border-top-left-radius: 10px;
  border-left: 1px solid var(--table-borders);
}
table thead tr th:last-child {
  border-top-right-radius: 10px;
  border-right: 1px solid var(--table-borders);
}

th {
  background-color: var(--green-50) !important;
}
